.col-xs-8.col-sm-8.col-md-8.col-lg-8.mx-auto.mb-2
  %input{ type: "text", class: "form-control mb-2", placeholder: "поиск" }
  %ul.list-group
    - @aircrafts.each do |aircraft|
      %li.list-group.item
        = link_to aircraft.name, aircraft