.container.mb-4
  .row
    .col-md-12
      %h2.text-center Самолет "#{@aircraft.name}"

.container
  .row
    .col-xs-6.col-sm-6.col-md-6.col-lg-6.mx-auto.mb-2
      %h4.text-center Компании
      %hr
      %ul.list-group
        - @aircraft.companies.each do |company|
          %li.list-group.item
            = link_to company.name, company
    .col-xs-6.col-sm-6.col-md-6.col-lg-6.mx-auto.mb-2
      %h4.text-center Города
      %hr
      %ul.list-group
        - @aircraft.cities.each do |city|
          %li.list-group.item
            = link_to city.name, city