%div.container.mb-4
  %div.row
    %div.col-md-12
      %h2.text-center Город "#{@city.name}"

%div.container
  %div.row
    %div.col-xs-6.col-sm-6.col-md-6.col-lg-6.mx-auto.mb-2
      %h4.text-center Самолеты
      %hr
      %ul.list-group
        - @aircrafts.each do |aircraft|
          %li.list-group.item
            = link_to aircraft.name, aircraft
    %div.col-xs-6.col-sm-6.col-md-6.col-lg-6.mx-auto.mb-2
      %h4.text-center Компании
      %hr
      %ul.list-group
        - @companies.each do |company|
          %li.list-group.item
            = link_to company.name, company